<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:fragment="configFragment">
    <meta charset="UTF-8" />
    <!-- 공통으로 쓰이는 css파일을넣는다.-->

    <link rel="stylesheet" type="text/css" href="/lib/aggrid/ag-grid.css">
    <link rel="stylesheet" type="text/css" href="/lib/aggrid/ag-theme-alpine.css">
    <link rel="stylesheet" type="text/css" href="/lib/aggrid/ag-theme-balham.css">
    <link rel="stylesheet" type="text/css" href="/lib/aggrid/ag-theme-balham-dark.css">
    <link rel="stylesheet" href="/css/ztree/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/formantic/semantic.css">
    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>

    <!-- 공통으로 쓰이는 css파일을넣는다.-->
    <script src="/lib/jquery/jquery-3.1.1.min.js"></script>
    <script src="/lib/formantic/semantic.js"></script>
    <script src="/lib/aggrid/ag-grid-community.min.js"></script>
    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <th:block layout:fragment="script">

    </th:block>
</head>
</html>
