<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">


    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Best</a>
            <a class="item">상의</a>
            <a class="item">아우터</a>
            <a class="item">하의</a>
            <div class="right menu">
                <div class="item">
                    <a class="ui button">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Best</a>
        <a class="item">상의</a>
        <a class="item">아우터</a>
        <a class="item">하의</a>
        <a class="item">Login</a>
        <a class="item">Signup</a>
    </div>




</header>
</html>