<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/app/top/top.css">
<html lang="ko">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="wrap">
        <div class="intro_bg">
            <div class="header" id="link_header">
                <div class="searchArea">
                    <form>
                    <input type="search" placeholder="Search">
                        <span>검색 </span>
                    </form>
                </div>
                <ul class="nav">
                    <li><a href="#link_header">HOME</a></li>
                    <li><a href="#link_main_text0">ABOUT</a></li>
                    <li><a href="#link_main_text1">SERVICE</a></li>
                    <li><a href="#link_main_text2">CONTACT</a></li>
                </ul>
            </div>
            <div class="intro_text">
                <h1>it zon</h1>
                <h4 class="contents1">안녕안녕안녕 </h4>
            </div>
        </div>
    </div>
        <!--intro end-->
        <ul class="amount">
            <li>
                <div>
                    <div class="contents1">it</div>
                    <div class="result">zon</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">test</div>
                    <div class="result">1</div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">test</div>
                    <div class="result">2</div>
                </div>
            <li>
                <div>
                    <div class="contents1">test</div>
                    <div class="result">3</div>
                </div>
            </li>
        </ul>
    <!-- amount end-->
    <div class="main_text0" id="link_main_text0">
        <h1>ABOUT</h1>
        <div class="contents1">it zon 에서 즐거운 쇼핑 하시길 바랍니다.</div>
        <ul class="icons">
            <li>
                <div class="icon_img">
                    <img src="/img/top1.jpg" width="450" height="400">
                </div>
                <div class="contents1_bold">
                    편하고 멋스럽게
                </div>
                <div class="contents1">
                    어느 옷이나 어울리는 스트릿 룩
                </div>
            </li>
           <li>
               <div class="icon_img">
                   <img src="/img/top2.jpg"  width="450" height="400">
               </div>
               <div class="contents1_bold">
                   새콤달콤하게
               </div>
               <div class="contents1">
                   새콤달콤 쭈리 봄 맨투맨 티셔츠
               </div>
           </li>
            <li>
                <div class="icon_img">
                    <img src="/img/top3.jpg"  width="450" height="400">
                </div>
                <div class="contents1_bold">
                    강렬하게
                </div>
                <div class="contents1">
                    빨간 맨투맨 코디 티셔츠 레이어드로
                </div>
            </li>
        </ul>
    </div>
<div class="main_text1" id="link_main_text1">
    <h1>SERVICE</h1>
    <div class="contents1">text</div>
    <div class="service">
        <div class="food_photo">
            <img src="/img/fish-2736523_1280.jpg">
        </div>
        <div class="contents2">
            <h2>아무말이나 써봐~</h2>

            <br>안녕하세요
            <br>아이티 존입니다.
            <br>하윙
        </div>
    </div>
    <div class="main_text2" id="link_main_text2">
        <ul>
            <li>
                <div><h1>CONTACT</h1></div>
                <div>우리의 고객이 되어주세요.</div>
                <div class="more2">
                    더 알아보기
                </div>
            </li>
            <li></li>
        </ul>
    </div>
    <footer>
        <div>
            LOGO
        </div>
        <div>
            CEO, LEE<br>
            Addr, 서울특별시 동대문구 장안동 답십리로 68길 31
            02 - 123 - 4567 -8<br>
            You can dress well too.
        </div>

    </footer>
</div>
</body>
</html>